.main {
  display: flex;
  min-height: 100vh;
}

.main_chinois,
.main_contact {
  width: 50vw;
  padding: 5vh 5vw;
}

.main_contact {
  background-image: linear-gradient(rgba(22, 22, 22, 0.8)),
    url("/background.png");
  background-size: 200%;
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_chinois {
  background: url("/quintenlemmens.png");
  background-size: cover;
  background-position: 50% 20%;
}

.logo {
  margin: 0 auto;
  text-align: center;
}

.logo_mobile {
  display: none;
}

.title {
  font-family: "Rubik", sans-serif;
  font-size: 5rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 3rem;
}

.subtitle {
  font-family: "Rubik", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: #00e04c;
  display: flex;
  align-items: center;
}

.subtitle::before {
  display: inline-block;
  content: "";
  width: 3rem;
  height: 0.1rem;
  background-color: #00e04c;
  color: #00e04c;
  margin-right: 1rem;
}

.title_green {
  color: #00e04c;
}

.paragraph {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 100;
  text-align: center;
  width: 75%;
  line-height: 1.6;
  margin: 0 auto;
}

.paragraph_white {
  color: #fbfaf8;
  width: 100%;
  text-align: left;
  font-size: 1.3rem;
}

.scroll_down {
  width: 2rem;
  height: 4rem;
  border: 3px solid #191919;
  border-radius: 60px;
  position: relative;
  z-index: 10;
  display: none;
}
.scroll_down::before {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #191919;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 1.8s infinite;
  -webkit-animation: wheel 1.8s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 2rem;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 2rem;
  }
}

.contact_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
}

.contact_header {
  display: flex;
  justify-content: space-between;
}

.form {
  margin: 5vh 0;
}

.input {
  margin-bottom: 3vh;
}

.input_field {
  background-color: transparent;
  border: 0.1rem solid #fbfaf8;
  width: 100%;
  padding: 1.2rem;
  margin-top: 0.6rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  color: #fbfaf8;
  font-style: italic;
}

.input_label {
  font-family: "Rubik", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.6;
  margin: 0 auto;
  color: #fbfaf8;
}

.input_error {
  color: red;
  font-family: Rubik, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 1.2rem;
}

.form_button {
  font-family: "Rubik", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: #00e04c;
  padding: 1rem 2rem;
  border: none;
}

.input_field::placeholder {
  font-family: "Rubik", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #302f2f;
}

.input_field:-webkit-autofill,
.input_field:-webkit-autofill:hover,
.input_field:-webkit-autofill:focus {
  background-color: #302f2f;
  border: 0.1rem solid #fbfaf8;
  font-family: "Rubik", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  color: #fbfaf8;
  font-style: italic;
  border: 0.1rem solid #fbfaf8;
  -webkit-text-fill-color: #fbfaf8;
  -webkit-box-shadow: 0 0 0px 1000px #302f2f inset;
  transition: background-color 5000s ease-in-out 0s;
}

.socials,
.footer {
  display: flex;
  justify-content: space-between;
}

.socials_icon {
  margin-right: 1.5rem;
  display: flex;
}

.company {
  display: flex;
  align-items: center;
}

.toggle_input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle_label {
  cursor: pointer;
  width: 7rem;
  height: 2.5rem;
  background: #191919;
  border: 0.2rem solid #fbfaf8;
  display: block;
  border-radius: 100px;
  position: relative;
}

.toggle_label:after {
  content: "";
  position: absolute;
  top: -0.2rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #fbfaf8;
  border: 0.2rem solid #fbfaf8;
  border-radius: 50%;
  transition: 0.3s;
  left: -0.2rem;
}

.toggle_input:checked + .toggle_label::after {
  background: #00e04c;
  border: 0.2rem solid #fbfaf8;
}

.toggle_input:checked + .toggle_label:after {
  left: calc((5rem) - 2.5rem);
  transform: translateX(-(5rem));
}

.toggle_label:active:after {
  width: 3rem;
}

@media (max-width: 1000px) {
  .title {
    font-size: 3.9rem;
  }
  .paragraph {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }

  .main_chinois,
  .main_contact {
    width: 100vw;
  }

  .main_chinois {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .logo_desktop {
    display: none;
  }

  .logo_mobile {
    display: flex;
    justify-content: center;
    margin-bottom: 5ch;
  }

  .scroll_down {
    display: flex;
    margin: 0 auto;
    margin-top: auto;
  }

  .form {
    margin: 8rem 0;
  }

  .main_contact {
    padding: 10vh 5vw 5vh 5vw;
  }

  .input {
    margin-bottom: 4rem;
  }

  .input_field {
    font-size: 1.4rem;
    margin-top: 1rem;
  }

  .input_label {
    font-size: 1.4rem;
  }

  .input_error {
    font-size: 1.2rem;
  }

  .input_field::placeholder {
    font-family: "Rubik", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #302f2f;
  }

  .form_button {
    font-size: 1.4rem;
    margin-top: 2rem;
  }
}
